/* Reset */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background: #0d0d0d;
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    padding: 20px;
}

.highlight {
    font-weight: bold;
    color: lime;
}

a {
    color: lime;
    text-decoration: none;
    transition: color 0.3s;
}

a:hover {
    color: #009900;
}

h1 {
    color: lime;
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
    margin-bottom: 30px;
}

li {
    margin: 10px 0;
}

label {
    display: block;
    margin-bottom: 5px;
}

input[type="text"],
select {
    background: #333;
    border: 1px solid lime;
    color: #fff;
    padding: 5px 10px;
    width: 300px;
}

button {
    background: lime;
    border: none;
    color: #000;
    cursor: pointer;
    padding: 5px 10px;
    transition: background 0.3s;
}

button:hover {
    background: #009900;
}

button:disabled {
    background: #333;
    cursor: not-allowed;
}

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    border: 1px solid lime;
    padding: 10px;
    text-align: left;
}

tr:nth-child(even) {
    background: #333;
}

tbody tr:hover {
    background-color: #008400;
    color: white;
}

.loading-overlay {
    align-items: center;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    height: 100vh;
    justify-content: center;
    left: 0;
    position: fixed;
    top: 0;
    width: 100vw;
    z-index: 999;
    flex-direction: column;
}

.loading-text {
    padding-top: 50px;
}

.spinner {
    border: 16px solid #333;
    border-top: 16px solid lime;
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/* margin modifiers */
.mt-1 {
    margin-top: 5px;
}

.mb-1 {
    margin-bottom: 5px;
}

.ml-1 {
    margin-left: 5px;
}

.mr-1 {
    margin-right: 5px;
}

.mt-2 {
    margin-top: 10px;
}

.mb-2 {
    margin-bottom: 10px;
}

.ml-2 {
    margin-left: 10px;
}

.mr-2 {
    margin-right: 10px;
}

.mt-3 {
    margin-top: 15px;
}

.mb-3 {
    margin-bottom: 15px;
}

.ml-3 {
    margin-left: 15px;
}

.mr-3 {
    margin-right: 15px;
}

/* padding modifiers */
.pt-1 {
    padding-top: 5px;
}

.pb-1 {
    padding-bottom: 5px;
}

.pl-1 {
    padding-left: 5px;
}

.pr-1 {
    padding-right: 5px;
}

.pt-2 {
    padding-top: 10px;
}

.pb-2 {
    padding-bottom: 10px;
}

.pl-2 {
    padding-left: 10px;
}

.pr-2 {
    padding-right: 10px;
}

.pt-3 {
    padding-top: 15px;
}

.pb-3 {
    padding-bottom: 15px;
}

.pl-3 {
    padding-left: 15px;
}

.pr-3 {
    padding-right: 15px;
}
